p {
    color: #fff372;
    font-size: 41px;
    text-align: left;
    font-weight: bold;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;

}

p > img{
    width:721px;
    height: 721px;
    border:solid 10px;

}
a{
    color: blue;
   font-size: 40px;
}
body{
    background-image:url(hiromotoG/Sora.jpg);
    background-size: cover;
    background-attachment: fixed;
    border: 0.1px solid #004d9a;
    height: 50cm;
     
      
}

h1{
    text-align: center;
    font-size: 70px;
    color: #fff372;
    padding: 0.5em 0;
    font-weight: bold;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;

}
h2 {
    margin-top: 40px;
    margin: auto;
    width: 280px;
    font-size: 35px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 0px 0px 5px #4087cd;
    border: dashed 2px white;
    padding: 0.5em 0.5em;
}
body{
    margin-left: auto;
    margin-right: auto;
}
.flexLinks{
    display:flex;
    justify-content: center;
    text-align: center;
}
.box {
    padding: 3em 3em;
    margin: 2em 0;
    font-weight: bold;
    color: #60d386;
    background: #FFF;
    border: solid 14px #60d386;
    border-radius: 30px;
}
.tikatika{
    font-weight:bold;
    transition:.3s;
    text-decoration:underline;
    }
    .tikatika a:hover{
    font-weight:bold;
    color:#f89174 !important;
    transition:.3s;
    }
.box p {
    margin: 0; 
    padding: 0;
}
.ababa{
    color: rgba(0, 0, 0, 0.133);
    float: right;
}
