@charset "utf-8";

p {
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: white;
}

p > img{
     width: 560px;
     height: 420px;
     border: solid 10px;
}

a{
    color: blue;
   font-size: 30px;
   text-decoration: none;
}

div.bun{
    color: black;
     font-size: 40px;
     text-align: left;
     font-weight: bold;
     -webkit-text-stroke-width: 0.7px;
     -webkit-text-stroke-color: white;
 
 } 

h1{
    text-align: center;
    font-size: 120px;
    color: #4875cf;
    padding: 0;
    font-weight: bold;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
}

h2 {
    margin-top: 40px;
    margin: auto;
    width: 280px;
    font-size: 35px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 0px 5px #4087cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
}

h3{
    margin-top: 40px;
    margin: auto;
    width: 280px;
    font-size: 28px;
    text-align: center;
}

body{
    background-image:url('hiromotoG/haikei.copy.jpg');
    background-size:contain;
    background-attachment: fixed;
    border: 1px solid white;
}
.backdrop{
    backdrop-filter: blur(10px);
}

.sidebar{
    padding: 0;
    margin: 0;
    font-size: 15px;
    width: 250px;
    height: 100%;
    position:sticky;
    top: 0;
    left: 0;
    background: #eee;
    text-align: center;
}

.sidebar ul{
    display: block;
}

.sidebar li{
    display: block;
}

.sidebar a{
    transition: 0.3s;
}

.sidebar a:hover {
    opacity: 0.7;
}

.sidebar > li > a{
    display: block;
    padding: 10px;
    background-color: #ccc;
}

.sidebar >li >ul a{
    padding: 10px;
    display: block;
    background-color: #aaa;
}

div.co{
    padding: 0 0 0 280px;
    margin: 0;

}