/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

.header {
    background-color: #1e90ff;
    color: white;
    padding-top: 30px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.containerbtn {
    max-width: 800px;
    margin: auto;
    background-color: #1e90ff;
    border-radius: 10px;
}

/* onebtnを右揃えにするための親コンテナを右揃えに */
.right-align {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.title {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="file"] {
    padding: 3px;
}
/*ボタン*/
.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #1e90ff;
    border: none;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #fff;
    color: #1e90ff;
}

.onebtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #1e90ff;
    border: none;
    border-radius: 10px 0px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; 
    margin-top: 10px; 
}

.onebtn:hover {
    background-color: #fff;
    color: #1e90ff;
}

.return-button {
    width: 50px;
    height: 30px;
    border-radius: 10%;
    border-color: #1e90ff;
    color: #1e90ff;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 15px;
    
}

.return-button:hover {
    background-color: #fff;
    color: #1e90ff;
}

/* メニューボタンのスタイル */
.menu-button {
    display: none;
    background-color: #fff;
    color: #1e90ff;
    border: none;
    padding: 5px 5px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
}

.menu-button:hover {
    background-color: #fff;
    color: #1e90ff;
}

/* 600px以下の画面サイズでのスタイル */
@media (max-width: 600px) {
    .buttons {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background-color: rgba(30, 144, 255, 0.9); /* 透明度を上げる */
        top: 60px;
        right: 20px;
        width: auto;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .buttons.show {
        display: flex;
    }

    .menu-button {
        display: inline-block;
    }

    .buttons .button {
        margin: 5px 0;
        width: 100%;
    }

    .header h1 {
        text-align: left; /* 左揃えにする */
        padding-left: 20px; /* 左側に余白を追加 */
        font-size: 1.5em; /* 文字サイズを小さくする */
    }

    .menu-buttons .button {
        background-color: rgba(30, 144, 255, 0.9); /* 透明度を上げる */
    }
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.checkboxNot {
    width: 20px;  /* サイズを大きくする */
    height: 20px;  /* サイズを大きくする */
}

.book-item,
.book-itemNot {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-item img,
.book-itemNot img {
    width: 100%;
    height: auto;
}

.book-item-title,
.book-item-titleNot {
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 0 0 5px 5px;
}

.book-item a {
    text-decoration: none; /* アンダーラインを削除 */
    color: inherit; /* 親の色を継承 */
}

.book-item-titleNot {
    background-color: #ff4500;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.conditions {
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #555;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

/* Navbar styles */
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Responsive styles */
@media (max-width: 600px) {
    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group input[type="file"],
    .form-group textarea {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
/* 画像の比率を維持しつつ最大幅と最大高さを設定 */
.responsive-img {
    max-width: 100%;
    max-height: 80vh; /* ビューポートの高さの80% */
    height: auto;
    width: auto;
}

/* 画像を中央揃えにするためのスタイル */
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

