/*全体*/
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #4A90E2;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}
.header .return-button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: #4A90E2;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
}
.header .return-button:hover {
    background-color: #4A90E2;
    color: white;
    border: 2px solid #fff;
}
.container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}
.title {
    font-size: 24px;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 20px;
}
input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    display: block;
    margin: 0 auto;
}
.error {
    color: red;
    margin-top: 20px;
}
/*ボタン*/
.button {
    background-color: #4A90E2;
    color: white;
    border: 2px solid #000080;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
.button:hover {
    background-color: #357ABD;
}
.button {
    background-color: #4A90E2;
    color: white;
    border: 2px solid #000080;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
.button:hover {
    background-color: #357ABD;
}
.buttonA {
    background-color: #4A90E2;
    color: white;
    border: 2px solid #000080;
    padding: 30px 30px;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    width: 200px;
}
.buttons {
    text-align: center;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*detail.php*/
.image-container {
    text-align: center;
}
.image-container img {
    max-width: 100%;
    height: auto;
}
.form-container {
    text-align: center;
    margin: 20px 0;
}
.form-container input[type="checkbox"] {
    margin: 10px;
}
.form-container textarea {
    width: 100%;
    height: 100px;
    margin: 20px 0;
}
/*home.php*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    justify-items: center;
}
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(7, 1fr);
    }
}
@media (max-width: 1199px) and (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 899px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
.book-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #000;
}
.book-item img {
    max-width: 100%;
    height: auto;
}
.book-item-title {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
/*imgimport*/
input[type="text"],
input[type="file"] {
    padding: 10px;
    font-size: 16px;
    width: 200px; /* Adjusted width */
}
/*index.php*/
/*loginnew.php*/
.conditions { 
    margin-bottom: 20px; 
    color: #4A90E2; 
}
/*show_all.php*/
.checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: scale(1.5); /* チェックボックスのサイズを大きくする */
}